@font-face {
    font-family: KatexLight;
    src: url('../fonts/Light.ttf');
}
@font-face {
    font-family: KatexMedium;
    src: url('../fonts/Medium.otf');
}
@font-face {
    font-family: KatexBold;
    src: url('../fonts/Bold.otf');
}
@font-face {
    font-family: KatexBlackBold;
    src: url('../fonts/BlackBold.otf');
}
@font-face {
    font-family: KatexNumbers;
    src: url('../fonts/Numbers.ttf');
}